In [251]:
from google.colab import files
uploaded = files.upload()

Saving prob_06.csv to prob_06 (11).csv
Saving prob_09.csv to prob_09 (11).csv
Saving table_06.csv to table_06 (11).csv
Saving table_09.csv to table_09 (11).csv

In [252]:
import pandas as pd
import numpy as np
Prob_df_09 = pd.read_csv('prob_09.csv', header=None)
Table_df_09 = pd.read_csv('table_09.csv', header=None)
# Hurray! Datasets #9 are alredy stored in a Pandas Dataframe
Prob_df_09 = Prob_df_09.rename(index={0 : 'P(M_i)', 1: 'P(K_i)'})
Prob_df_09

          0     1     2     3     4     5   ...    14    15    16    17    18    19
P(M_i)  0.09  0.09  0.09  0.09  0.04  0.04  ...  0.04  0.04  0.04  0.04  0.04  0.04
P(K_i)  0.24  0.04  0.04  0.04  0.04  0.04  ...  0.04  0.04  0.04  0.04  0.04  0.04

[2 rows x 20 columns]

In [253]:
Table_df_09 = Table_df_09.rename(columns={0 : 'M_0', 1: 'M_1', 2: 'M_2', 3: 'M_3', 4: 'M_4', 5:'M_5', 6:'M_6', 7: 'M_7', 8: 'M_8', 9 :'M_9', 10 : 'M_10', 11: 'M_11',12: 'M_12', 13: 'M_13', 14: 'M_14', 15: 'M_15',16: 'M_16',17 : 'M_17',18: 'M_18', 19: 'M_19'})
Table_df_09 = Table_df_09.rename(index={0 : 'K_0', 1: 'K_1', 2: 'K_2', 3: 'K_3', 4: 'K_4', 5:'K_5', 6:'K_6', 7: 'K_7', 8: 'K_8', 9 :'K_9', 10 : 'K_10', 11: 'K_11',12: 'K_12', 13: 'K_13', 14: 'K_14', 15: 'K_15',16: 'K_16',17 : 'K_17',18: 'K_18', 19: 'K_19'})
Table_df_09

      M_0  M_1  M_2  M_3  M_4  M_5  ...  M_14  M_15  M_16  M_17  M_18  M_19
K_0     6    0   15    8    7   10  ...    13    14     9     2     1     4
K_1    16   11    3   17   12    6  ...     2    19    10     1     5     9
K_2     8   14    4    5   10   15  ...    16     9     2    12    17     6
K_3    19    9    0   17   12    6  ...     4    13    18     2     7    15
K_4    11    3    7    5    1   19  ...     6     2     9    15     4    13
K_5    11    7    5    1   13   16  ...     4     6     0    12     3    18
K_6    19    8    3   13   12    9  ...    17     4    18     7    10    16
K_7    15   16    7    1   18   12  ...     8     5    10     4     6    11
K_8    14    7    6   19    1    8  ...    18    16    11    15     4    13
K_9     8   16   11   17    5   19  ...    15    12    14     0     1     9
K_10   17   10    7    6   12   16  ...     1    13    14    19    15    18
K_11   18   11   14   10   16    8  ...    12     4     5     3     1    13
K_12   15   19    8    4   14   12  ...     0    13     3     9    11    10
K_13   15   14    5   17    2    6  ...     4     8    11    18    10     0
K_14    9    7    1   18   10    0  ...     2     4     3    16    12     5
K_15   12   15    9   13    2   11  ...     1    19    17     5     8     3
K_16   15   12    5   13   14    7  ...     2     3     8    16     4     0
K_17   11   10    5    7    3   14  ...    18     4     9     1     6    15
K_18    6   17    8    4    0   10  ...     5     9     1    19    15     3
K_19   12    2   13   11    9   18  ...     8    17     1     0    10    15

[20 rows x 20 columns]

In [254]:
Prob_array_09 = np.array(Prob_df_09)

In [255]:
Table_array_09 = np.array(Table_df_09)

In [256]:
# Searching for unique values C_h and their amount
(unique_values, amount) = np.unique(Table_array_09, return_counts=True)
frequencies = np.asarray((unique_values, amount))
print(frequencies)

[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
 [20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20]]

**P(C) = ?**

In [257]:
prob_C_h_vector =[0]*frequencies.shape[1]

for C_h in range(frequencies.shape[1]):
  i = 0
  for table_ind_i in range(Table_array_09.shape[0]):
    for table_ind_j in range(Table_array_09.shape[1]):
      if (C_h == Table_array_09[table_ind_i][table_ind_j]):
        #print('i = ', i)
        #print('C_h = ', C_h)
        #print('Prob_array_09[0][',table_ind_i,'] = ', Prob_array_09[0][table_ind_i])
        #print('Prob_array_09[1][',table_ind_j,'] = ', Prob_array_09[1][table_ind_j])
        i += 1
        prob_C_h_vector[C_h] += Prob_array_09[0][table_ind_i] * Prob_array_09[1][table_ind_j]
      if (i == frequencies[1][C_h]):
        break
#print('prob_C_h_vector = ', prob_C_h_vector)
prob_C_h_vector_df = pd.DataFrame(prob_C_h_vector, index=['C_0','C_1','C_2', 'C_3','C_4','C_5','C_6','C_7','C_8', 'C_9','C_10','C_11','C_12','C_13','C_14','C_15','C_16','C_17','C_18', 'C_19']).T
prob_C_h_vector_df

    C_0   C_1   C_2   C_3   C_4   C_5  ...   C_14   C_15   C_16   C_17   C_18   C_19
0  0.04  0.04  0.04  0.04  0.04  0.04  ...  0.048  0.072  0.058  0.048  0.048  0.066

[1 rows x 20 columns]

**P(M, C) = ?**

In [258]:
prob_M_i_C_h_vector = [[0]*frequencies.shape[1] for i in range(frequencies.shape[1])]
for M_i in range(Prob_array_09.shape[1]):
  for C_h in range(frequencies.shape[1]):
    for K_j in range(Prob_array_09.shape[1]):
      if(C_h == Table_array_09[K_j][M_i]):
        prob_M_i_C_h_vector[C_h][M_i] += Prob_array_09[0][M_i] * Prob_array_09[1][K_j]

prob_M_i_C_h_vector = np.asarray(prob_M_i_C_h_vector).T
prob_M_i_C_h_vector_df = pd.DataFrame(prob_M_i_C_h_vector, columns=['C_0','C_1','C_2', 'C_3','C_4','C_5','C_6','C_7','C_8', 'C_9','C_10','C_11','C_12','C_13','C_14','C_15','C_16','C_17','C_18', 'C_19']).T
prob_M_i_C_h_vector_df = prob_M_i_C_h_vector_df.rename(columns={0 : 'M_0', 1: 'M_1', 2: 'M_2', 3: 'M_3', 4: 'M_4', 5:'M_5', 6:'M_6', 7: 'M_7', 8: 'M_8', 9 :'M_9', 10 : 'M_10', 11: 'M_11',12: 'M_12', 13: 'M_13', 14: 'M_14', 15: 'M_15',16: 'M_16',17 : 'M_17',18: 'M_18', 19: 'M_19'})
prob_M_i_C_h_vector_df

         M_0     M_1     M_2     M_3  ...    M_16    M_17    M_18    M_19
C_0   0.0000  0.0216  0.0036  0.0000  ...  0.0016  0.0032  0.0000  0.0032
C_1   0.0000  0.0000  0.0036  0.0072  ...  0.0032  0.0032  0.0128  0.0000
C_2   0.0000  0.0036  0.0000  0.0000  ...  0.0016  0.0112  0.0000  0.0000
C_3   0.0000  0.0036  0.0072  0.0000  ...  0.0032  0.0016  0.0016  0.0032
C_4   0.0000  0.0000  0.0036  0.0072  ...  0.0000  0.0016  0.0048  0.0096
C_5   0.0000  0.0000  0.0144  0.0072  ...  0.0016  0.0016  0.0016  0.0016
C_6   0.0252  0.0000  0.0036  0.0036  ...  0.0000  0.0000  0.0032  0.0016
C_7   0.0000  0.0108  0.0108  0.0036  ...  0.0000  0.0016  0.0016  0.0000
C_8   0.0072  0.0036  0.0072  0.0216  ...  0.0016  0.0000  0.0016  0.0000
C_9   0.0036  0.0036  0.0036  0.0000  ...  0.0128  0.0016  0.0000  0.0032
C_10  0.0000  0.0072  0.0000  0.0036  ...  0.0032  0.0000  0.0048  0.0016
C_11  0.0108  0.0072  0.0036  0.0036  ...  0.0032  0.0000  0.0016  0.0016
C_12  0.0072  0.0036  0.0000  0.0000  ...  0.0000  0.0032  0.0016  0.0000
C_13  0.0000  0.0000  0.0036  0.0108  ...  0.0000  0.0000  0.0000  0.0048
C_14  0.0036  0.0072  0.0036  0.0000  ...  0.0032  0.0000  0.0000  0.0000
C_15  0.0144  0.0036  0.0216  0.0000  ...  0.0000  0.0032  0.0032  0.0048
C_16  0.0036  0.0072  0.0000  0.0000  ...  0.0000  0.0032  0.0000  0.0016
C_17  0.0036  0.0036  0.0000  0.0144  ...  0.0016  0.0000  0.0016  0.0000
C_18  0.0036  0.0000  0.0000  0.0036  ...  0.0032  0.0016  0.0000  0.0032
C_19  0.0072  0.0036  0.0000  0.0036  ...  0.0000  0.0032  0.0000  0.0000

[20 rows x 20 columns]

**Task#2**

**P(M|C) = ?**

In [259]:
prob_C_h_vector = np.asarray(prob_C_h_vector).T

In [260]:
prob_M_i_C_h_vector = np.asarray(prob_M_i_C_h_vector).T

In [261]:
prob_M_i_cond_C_h_vector = [[0]*frequencies.shape[1] for i in range(frequencies.shape[1])]

for M_i_in_prob_M_i_C_h_vector in range(prob_M_i_C_h_vector.shape[1]):
  for C_h_in_prob_M_i_C_h_vector in range(prob_M_i_C_h_vector.shape[0]):
    prob_M_i_cond_C_h_vector[C_h_in_prob_M_i_C_h_vector][M_i_in_prob_M_i_C_h_vector] = prob_M_i_C_h_vector[C_h_in_prob_M_i_C_h_vector][M_i_in_prob_M_i_C_h_vector] / prob_C_h_vector[C_h_in_prob_M_i_C_h_vector]

prob_M_i_cond_C_h_vector_df = pd.DataFrame(prob_M_i_cond_C_h_vector, columns=['M_0','M_1','M_2', 'M_3','M_4','M_5','M_6','M_7','M_8', 'M_9','M_10','M_11','M_12','M_13','M_14','M_15','M_16','M_17','M_18', 'M_19'])
prob_M_i_cond_C_h_vector_df = prob_M_i_cond_C_h_vector_df.rename(index={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'})
prob_M_i_cond_C_h_vector_df

           M_0       M_1       M_2  ...      M_17      M_18      M_19
C_0   0.000000  0.540000  0.090000  ...  0.080000  0.000000  0.080000
C_1   0.000000  0.000000  0.090000  ...  0.080000  0.320000  0.000000
C_2   0.000000  0.090000  0.000000  ...  0.280000  0.000000  0.000000
C_3   0.000000  0.090000  0.180000  ...  0.040000  0.040000  0.080000
C_4   0.000000  0.000000  0.090000  ...  0.040000  0.120000  0.240000
C_5   0.000000  0.000000  0.360000  ...  0.040000  0.040000  0.040000
C_6   0.381818  0.000000  0.054545  ...  0.000000  0.048485  0.024242
C_7   0.000000  0.270000  0.270000  ...  0.040000  0.040000  0.000000
C_8   0.109091  0.054545  0.109091  ...  0.000000  0.024242  0.000000
C_9   0.075000  0.075000  0.075000  ...  0.033333  0.000000  0.066667
C_10  0.000000  0.180000  0.000000  ...  0.000000  0.120000  0.040000
C_11  0.168750  0.112500  0.056250  ...  0.000000  0.025000  0.025000
C_12  0.128571  0.064286  0.000000  ...  0.057143  0.028571  0.000000
C_13  0.000000  0.000000  0.090000  ...  0.000000  0.000000  0.120000
C_14  0.075000  0.150000  0.075000  ...  0.000000  0.000000  0.000000
C_15  0.200000  0.050000  0.300000  ...  0.044444  0.044444  0.066667
C_16  0.062069  0.124138  0.000000  ...  0.055172  0.000000  0.027586
C_17  0.075000  0.075000  0.000000  ...  0.000000  0.033333  0.000000
C_18  0.075000  0.000000  0.000000  ...  0.033333  0.000000  0.066667
C_19  0.109091  0.054545  0.000000  ...  0.048485  0.000000  0.000000

[20 rows x 20 columns]

**Task#3**

**    = ?**

In [262]:
prob_M_i_cond_C_h_vector = np.asarray(prob_M_i_cond_C_h_vector)

In [263]:
delta_eq_M = [0]*prob_C_h_vector.shape[0]
max_start_value_array = [0]*prob_M_i_cond_C_h_vector.shape[0]

for C_h in range(Table_array_09.shape[0]):
  for i in range(prob_M_i_cond_C_h_vector.shape[1]):
    if(max_start_value_array[C_h] <= prob_M_i_cond_C_h_vector[C_h][i]):
      max_start_value_array[C_h] = prob_M_i_cond_C_h_vector[C_h][i]
      delta_eq_M[C_h] = i

delta_eq_M_0 = np.asarray(delta_eq_M)
delta_eq_M_df = pd.DataFrame(delta_eq_M_0).T.rename(columns={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'}, index={0:'d'})
delta_eq_M_df

   C_0  C_1  C_2  C_3  C_4  C_5  C_6  ...  C_13  C_14  C_15  C_16  C_17  C_18  C_19
d    1   18   17   11   19    2    0  ...     3    15     2     8     3    12    13

[1 rows x 20 columns]

**    = ?**

In [264]:
s_func_value_matrix = [[1/Table_df_09.shape[1]]*prob_C_h_vector.shape[0] for i in range(Table_df_09.shape[1])]
s_func_value_matrix = np.asarray(s_func_value_matrix).T
s_func_value_matrix_df = pd.DataFrame(s_func_value_matrix, columns=['M_0','M_1','M_2', 'M_3','M_4','M_5','M_6','M_7','M_8', 'M_9','M_10','M_11','M_12','M_13','M_14','M_15','M_16','M_17','M_18', 'M_19'])
s_func_value_matrix_df = s_func_value_matrix_df.rename(index={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'})
s_func_value_matrix_df

       M_0   M_1   M_2   M_3   M_4   M_5  ...  M_14  M_15  M_16  M_17  M_18  M_19
C_0   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_1   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_2   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_3   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_4   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_5   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_6   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_7   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_8   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_9   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_10  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_11  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_12  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_13  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_14  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_15  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_16  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_17  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_18  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_19  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05

[20 rows x 20 columns]

In [265]:
s_func_value_answer = [[-11111]*prob_C_h_vector.shape[0] for i in range(Table_df_09.shape[1])]
max_start_value_array_for_s_func = [0]*prob_M_i_cond_C_h_vector.shape[0]

for C in range(prob_M_i_cond_C_h_vector.shape[0]):
  for M in range(prob_M_i_cond_C_h_vector.shape[1]):
    if (delta_eq_M[C] == M):
      max_start_value_array_for_s_func[C] = prob_M_i_cond_C_h_vector[C][M]

max_start_value_array_for_s_func_df = pd.DataFrame(max_start_value_array_for_s_func, columns = ['max_prob'], index=['P(M|C_0)','P(M|C_1)','P(M|C_2)', 'P(M|C_3)','P(M|C_4)','P(M|C_5)','P(M|C_6)','P(M|C_7)','P(M|C_8)', 'P(M|C_9)','P(M|C_10)','P(M|C_11)','P(M|C_12)','P(M|C_13)','P(M|C_14)','P(M|C_15)','P(M|C_16)','P(M|C_17)','P(M|C_18)', 'P(M|C_19)]']).T
max_start_value_array_for_s_func_df

          P(M|C_0)  P(M|C_1)  P(M|C_2)  ...  P(M|C_17)  P(M|C_18)  P(M|C_19)]
max_prob      0.54      0.32      0.28  ...        0.3        0.2    0.145455

[1 rows x 20 columns]

In [266]:
amount_of_M_i = [0]*prob_C_h_vector.shape[0]
for C_h in range(Table_array_09.shape[0]):
  for i in range(prob_M_i_cond_C_h_vector.shape[1]):
    if (s_func_value_matrix[C_h][i] > 0 and max_start_value_array_for_s_func[C_h] <= prob_M_i_cond_C_h_vector[C_h][i]):
      max_start_value_array_for_s_func[C_h] = prob_M_i_cond_C_h_vector[C_h][i]
      s_func_value_answer[i][C_h] = i
      amount_of_M_i[C_h] += 1

s_func_value_answer = np.asarray(s_func_value_answer).T
s_func_value_answer_df = pd.DataFrame(s_func_value_answer, columns=['M_0','M_1','M_2', 'M_3','M_4','M_5','M_6','M_7','M_8', 'M_9','M_10','M_11','M_12','M_13','M_14','M_15','M_16','M_17','M_18', 'M_19'])
s_func_value_answer_df = s_func_value_answer_df.rename(index={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'})
s_func_value_answer_df

        M_0    M_1    M_2    M_3    M_4  ...   M_15   M_16   M_17   M_18   M_19
C_0  -11111      1 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_1  -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111     18 -11111
C_2  -11111 -11111 -11111 -11111 -11111  ... -11111 -11111     17 -11111 -11111
C_3  -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_4  -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111     19
C_5  -11111 -11111      2 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_6       0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_7  -11111      1      2 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_8  -11111 -11111 -11111      3 -11111  ... -11111 -11111 -11111 -11111 -11111
C_9  -11111 -11111 -11111 -11111 -11111  ... -11111     16 -11111 -11111 -11111
C_10 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_11      0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_12 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_13 -11111 -11111 -11111      3 -11111  ... -11111 -11111 -11111 -11111 -11111
C_14 -11111 -11111 -11111 -11111 -11111  ...     15 -11111 -11111 -11111 -11111
C_15 -11111 -11111      2 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_16 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_17 -11111 -11111 -11111      3 -11111  ... -11111 -11111 -11111 -11111 -11111
C_18 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_19 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111

[20 rows x 20 columns]

In [267]:
amount_of_M_i

[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

**    **

In [268]:
for C_i in range(s_func_value_matrix.shape[0]):
  for M_j in range(s_func_value_matrix.shape[1]):
    if(s_func_value_answer[C_i][M_j] == -11111):
      s_func_value_matrix[C_i][M_j] = 0
    else:
      s_func_value_matrix[C_i][M_j] = 1/amount_of_M_i[C_i]

s_func_value_matrix_df = pd.DataFrame(s_func_value_matrix, columns=['M_0','M_1','M_2', 'M_3','M_4','M_5','M_6','M_7','M_8', 'M_9','M_10','M_11','M_12','M_13','M_14','M_15','M_16','M_17','M_18', 'M_19'])
s_func_value_matrix_df = s_func_value_matrix_df.rename(index={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'})
s_func_value_matrix_df

      M_0  M_1  M_2  M_3  M_4  M_5  ...  M_14  M_15  M_16  M_17  M_18  M_19
C_0   0.0  1.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_1   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   1.0   0.0
C_2   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   1.0   0.0   0.0
C_3   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_4   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   1.0
C_5   0.0  0.0  1.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_6   1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_7   0.0  0.5  0.5  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_8   0.0  0.0  0.0  1.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_9   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   1.0   0.0   0.0   0.0
C_10  0.0  0.0  0.0  0.0  0.0  1.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_11  1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_12  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_13  0.0  0.0  0.0  1.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_14  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   1.0   0.0   0.0   0.0   0.0
C_15  0.0  0.0  1.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_16  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_17  0.0  0.0  0.0  1.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_18  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_19  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[20 rows x 20 columns]

**Task 4**

**   **

In [269]:
from decimal import Decimal
av_loss_of_det_func = Decimal('0')
for M_i in range(prob_M_i_C_h_vector.shape[1]):
  for C_j in range(prob_M_i_C_h_vector.shape[0]):
    if (delta_eq_M_0[C_j] != s_func_value_answer[C_j][M_i]):
      av_loss_of_det_func += Decimal(prob_M_i_C_h_vector[C_j][M_i])

print("Average loss of deterministic function = ", av_loss_of_det_func)

Average loss of deterministic function =  0.7224000000000000178135284283

**   **

In [270]:
av_loss_of_stoch_func = Decimal('0')
HELP_loss_of_stoch_func = [[Decimal('0')]*prob_M_i_C_h_vector.shape[1] for i in range(prob_M_i_C_h_vector.shape[0])]
for M_i in range(prob_M_i_C_h_vector.shape[1]):
  for M_j_not_M_i in range(prob_M_i_C_h_vector.shape[1]):
    for C_h in range(prob_M_i_C_h_vector.shape[0]):
      if (M_j_not_M_i != M_i):
        HELP_loss_of_stoch_func[C_h][M_i] += Decimal(s_func_value_matrix[C_h][M_j_not_M_i])

for C_j in range(prob_M_i_C_h_vector.shape[0]):
  for M_i in range(prob_M_i_C_h_vector.shape[1]):
    av_loss_of_stoch_func += Decimal(Decimal(prob_M_i_C_h_vector[C_j][M_i]) * Decimal(HELP_loss_of_stoch_func[C_j][M_i]))

print("Average loss of stochastic function = ", av_loss_of_stoch_func)

Average loss of stochastic function =  0.7224000000000000178135284286