In [231]:
from google.colab import files
uploaded = files.upload()

Saving prob_06.csv to prob_06 (10).csv
Saving prob_09.csv to prob_09 (10).csv
Saving table_06.csv to table_06 (10).csv
Saving table_09.csv to table_09 (10).csv

In [232]:
import pandas as pd
import numpy as np
Prob_df_09 = pd.read_csv('prob_06.csv', header=None)
Table_df_09 = pd.read_csv('table_06.csv', header=None)
# Hurray! Datasets #9 are alredy stored in a Pandas Dataframe
Prob_df_09 = Prob_df_09.rename(index={0 : 'P(M_i)', 1: 'P(K_i)'})
Prob_df_09

          0     1     2     3     4     5   ...    14    15    16    17    18    19
P(M_i)  0.24  0.04  0.04  0.04  0.04  0.04  ...  0.04  0.04  0.04  0.04  0.04  0.04
P(K_i)  0.24  0.04  0.04  0.04  0.04  0.04  ...  0.04  0.04  0.04  0.04  0.04  0.04

[2 rows x 20 columns]

In [233]:
Table_df_09 = Table_df_09.rename(columns={0 : 'M_0', 1: 'M_1', 2: 'M_2', 3: 'M_3', 4: 'M_4', 5:'M_5', 6:'M_6', 7: 'M_7', 8: 'M_8', 9 :'M_9', 10 : 'M_10', 11: 'M_11',12: 'M_12', 13: 'M_13', 14: 'M_14', 15: 'M_15',16: 'M_16',17 : 'M_17',18: 'M_18', 19: 'M_19'})
Table_df_09 = Table_df_09.rename(index={0 : 'K_0', 1: 'K_1', 2: 'K_2', 3: 'K_3', 4: 'K_4', 5:'K_5', 6:'K_6', 7: 'K_7', 8: 'K_8', 9 :'K_9', 10 : 'K_10', 11: 'K_11',12: 'K_12', 13: 'K_13', 14: 'K_14', 15: 'K_15',16: 'K_16',17 : 'K_17',18: 'K_18', 19: 'K_19'})
Table_df_09

      M_0  M_1  M_2  M_3  M_4  M_5  ...  M_14  M_15  M_16  M_17  M_18  M_19
K_0    14   12    1    2    8   17  ...    13    10    11     6    16     5
K_1    13   12   11    0   15   10  ...     8     1     6     3    14     9
K_2    17   12   19    8   11    1  ...     9     2    18    14     4     7
K_3    18    6    7   19   13    0  ...     1     5    15    12     3    11
K_4     6    0   16   14    3    4  ...    13    19     1     8     7    12
K_5    17    9   11   10    7    3  ...    19     1    14    12     2     6
K_6     7   18   15   10   11    8  ...     3     5     6    19     0    16
K_7    11   10   14   19    8    1  ...     6    17    18     3    15    13
K_8    11    7    3    1   19   10  ...     5     8    13    16    17     2
K_9     3   16   15   13   19   18  ...     6    17    12     5     7     0
K_10   15    9    3   18    8   10  ...    13    11     7     4    17     1
K_11    6    4   19   12   15   17  ...     2    13     0     1     5    16
K_12   19   13   18    1   10    3  ...     0     6    11     4     5     8
K_13   12   18    3   17   11   15  ...    16     8    19     7     5    10
K_14   11   19   18   16    2   12  ...    17     0     8     3    14    10
K_15    2   10    4   14    7   19  ...     5     1    13    12    16     8
K_16    6   10    3    9   13    7  ...     8     2     1    14    12     0
K_17   17   12    7   11   15   13  ...    16     1     6    10     5    14
K_18   10    5    9    2   13   19  ...     8    12    14     4     0     7
K_19    5    2   18   11   10   17  ...     7     9     6     8    16    13

[20 rows x 20 columns]

In [234]:
Prob_array_09 = np.array(Prob_df_09)

In [235]:
Table_array_09 = np.array(Table_df_09)

In [236]:
# Searching for unique values C_h and their amount
(unique_values, amount) = np.unique(Table_array_09, return_counts=True)
frequencies = np.asarray((unique_values, amount))
print(frequencies)

[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
 [20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20]]

**P(C) = ?**

In [237]:
prob_C_h_vector =[0]*frequencies.shape[1]

for C_h in range(frequencies.shape[1]):
  i = 0
  for table_ind_i in range(Table_array_09.shape[0]):
    for table_ind_j in range(Table_array_09.shape[1]):
      if (C_h == Table_array_09[table_ind_i][table_ind_j]):
        #print('i = ', i)
        #print('C_h = ', C_h)
        #print('Prob_array_09[0][',table_ind_i,'] = ', Prob_array_09[0][table_ind_i])
        #print('Prob_array_09[1][',table_ind_j,'] = ', Prob_array_09[1][table_ind_j])
        i += 1
        prob_C_h_vector[C_h] += Prob_array_09[0][table_ind_i] * Prob_array_09[1][table_ind_j]
      if (i == frequencies[1][C_h]):
        break
#print('prob_C_h_vector = ', prob_C_h_vector)
prob_C_h_vector_df = pd.DataFrame(prob_C_h_vector, index=['C_0','C_1','C_2', 'C_3','C_4','C_5','C_6','C_7','C_8', 'C_9','C_10','C_11','C_12','C_13','C_14','C_15','C_16','C_17','C_18', 'C_19']).T
prob_C_h_vector_df

    C_0   C_1    C_2    C_3   C_4  ...   C_15  C_16   C_17   C_18   C_19
0  0.04  0.04  0.048  0.048  0.04  ...  0.048  0.04  0.064  0.048  0.048

[1 rows x 20 columns]

**P(M, C) = ?**

In [238]:
prob_M_i_C_h_vector = [[0]*frequencies.shape[1] for i in range(frequencies.shape[1])]
for M_i in range(Prob_array_09.shape[1]):
  for C_h in range(frequencies.shape[1]):
    for K_j in range(Prob_array_09.shape[1]):
      if(C_h == Table_array_09[K_j][M_i]):
        prob_M_i_C_h_vector[C_h][M_i] += Prob_array_09[0][M_i] * Prob_array_09[1][K_j]

prob_M_i_C_h_vector = np.asarray(prob_M_i_C_h_vector).T
prob_M_i_C_h_vector_df = pd.DataFrame(prob_M_i_C_h_vector, columns=['C_0','C_1','C_2', 'C_3','C_4','C_5','C_6','C_7','C_8', 'C_9','C_10','C_11','C_12','C_13','C_14','C_15','C_16','C_17','C_18', 'C_19']).T
prob_M_i_C_h_vector_df = prob_M_i_C_h_vector_df.rename(columns={0 : 'M_0', 1: 'M_1', 2: 'M_2', 3: 'M_3', 4: 'M_4', 5:'M_5', 6:'M_6', 7: 'M_7', 8: 'M_8', 9 :'M_9', 10 : 'M_10', 11: 'M_11',12: 'M_12', 13: 'M_13', 14: 'M_14', 15: 'M_15',16: 'M_16',17 : 'M_17',18: 'M_18', 19: 'M_19'})
prob_M_i_C_h_vector_df

         M_0     M_1     M_2     M_3  ...    M_16    M_17    M_18    M_19
C_0   0.0000  0.0016  0.0000  0.0016  ...  0.0016  0.0000  0.0032  0.0032
C_1   0.0000  0.0000  0.0096  0.0032  ...  0.0032  0.0016  0.0000  0.0016
C_2   0.0096  0.0016  0.0000  0.0112  ...  0.0000  0.0000  0.0016  0.0016
C_3   0.0096  0.0000  0.0064  0.0000  ...  0.0000  0.0048  0.0016  0.0000
C_4   0.0000  0.0016  0.0016  0.0000  ...  0.0000  0.0048  0.0016  0.0000
C_5   0.0096  0.0016  0.0000  0.0000  ...  0.0000  0.0016  0.0064  0.0096
C_6   0.0288  0.0016  0.0000  0.0000  ...  0.0064  0.0096  0.0000  0.0016
C_7   0.0096  0.0016  0.0032  0.0000  ...  0.0016  0.0016  0.0032  0.0032
C_8   0.0000  0.0000  0.0000  0.0016  ...  0.0016  0.0032  0.0000  0.0032
C_9   0.0000  0.0032  0.0016  0.0016  ...  0.0000  0.0000  0.0000  0.0016
C_10  0.0096  0.0048  0.0000  0.0032  ...  0.0000  0.0016  0.0000  0.0032
C_11  0.0288  0.0000  0.0032  0.0032  ...  0.0112  0.0000  0.0000  0.0016
C_12  0.0096  0.0144  0.0000  0.0016  ...  0.0016  0.0048  0.0016  0.0016
C_13  0.0096  0.0016  0.0000  0.0016  ...  0.0032  0.0000  0.0000  0.0032
C_14  0.0576  0.0000  0.0016  0.0032  ...  0.0032  0.0032  0.0032  0.0016
C_15  0.0096  0.0000  0.0032  0.0000  ...  0.0016  0.0000  0.0016  0.0000
C_16  0.0000  0.0016  0.0016  0.0016  ...  0.0000  0.0016  0.0128  0.0032
C_17  0.0288  0.0000  0.0000  0.0016  ...  0.0000  0.0000  0.0032  0.0000
C_18  0.0096  0.0032  0.0048  0.0016  ...  0.0032  0.0000  0.0000  0.0000
C_19  0.0096  0.0016  0.0032  0.0032  ...  0.0016  0.0016  0.0000  0.0000

[20 rows x 20 columns]

**Task#2**

**P(M|C) = ?**

In [239]:
prob_C_h_vector = np.asarray(prob_C_h_vector).T

In [240]:
prob_M_i_C_h_vector = np.asarray(prob_M_i_C_h_vector).T

In [241]:
prob_M_i_cond_C_h_vector = [[0]*frequencies.shape[1] for i in range(frequencies.shape[1])]

for M_i_in_prob_M_i_C_h_vector in range(prob_M_i_C_h_vector.shape[1]):
  for C_h_in_prob_M_i_C_h_vector in range(prob_M_i_C_h_vector.shape[0]):
    prob_M_i_cond_C_h_vector[C_h_in_prob_M_i_C_h_vector][M_i_in_prob_M_i_C_h_vector] = prob_M_i_C_h_vector[C_h_in_prob_M_i_C_h_vector][M_i_in_prob_M_i_C_h_vector] / prob_C_h_vector[C_h_in_prob_M_i_C_h_vector]

prob_M_i_cond_C_h_vector_df = pd.DataFrame(prob_M_i_cond_C_h_vector, columns=['M_0','M_1','M_2', 'M_3','M_4','M_5','M_6','M_7','M_8', 'M_9','M_10','M_11','M_12','M_13','M_14','M_15','M_16','M_17','M_18', 'M_19'])
prob_M_i_cond_C_h_vector_df = prob_M_i_cond_C_h_vector_df.rename(index={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'})
prob_M_i_cond_C_h_vector_df

           M_0       M_1       M_2  ...      M_17      M_18      M_19
C_0   0.000000  0.040000  0.000000  ...  0.000000  0.080000  0.080000
C_1   0.000000  0.000000  0.240000  ...  0.040000  0.000000  0.040000
C_2   0.200000  0.033333  0.000000  ...  0.000000  0.033333  0.033333
C_3   0.200000  0.000000  0.133333  ...  0.100000  0.033333  0.000000
C_4   0.000000  0.040000  0.040000  ...  0.120000  0.040000  0.000000
C_5   0.200000  0.033333  0.000000  ...  0.033333  0.133333  0.200000
C_6   0.450000  0.025000  0.000000  ...  0.150000  0.000000  0.025000
C_7   0.200000  0.033333  0.066667  ...  0.033333  0.066667  0.066667
C_8   0.000000  0.000000  0.000000  ...  0.080000  0.000000  0.080000
C_9   0.000000  0.080000  0.040000  ...  0.000000  0.000000  0.040000
C_10  0.200000  0.100000  0.000000  ...  0.033333  0.000000  0.066667
C_11  0.450000  0.000000  0.050000  ...  0.000000  0.000000  0.025000
C_12  0.200000  0.300000  0.000000  ...  0.100000  0.033333  0.033333
C_13  0.200000  0.033333  0.000000  ...  0.000000  0.000000  0.066667
C_14  0.654545  0.000000  0.018182  ...  0.036364  0.036364  0.018182
C_15  0.200000  0.000000  0.066667  ...  0.000000  0.033333  0.000000
C_16  0.000000  0.040000  0.040000  ...  0.040000  0.320000  0.080000
C_17  0.450000  0.000000  0.000000  ...  0.000000  0.050000  0.000000
C_18  0.200000  0.066667  0.100000  ...  0.000000  0.000000  0.000000
C_19  0.200000  0.033333  0.066667  ...  0.033333  0.000000  0.000000

[20 rows x 20 columns]

**Task#3**

**Оптимальна детерміністична вирішуюча функція = ?**

In [242]:
prob_M_i_cond_C_h_vector = np.asarray(prob_M_i_cond_C_h_vector)

In [243]:
delta_eq_M = [0]*prob_C_h_vector.shape[0]
max_start_value_array = [0]*prob_M_i_cond_C_h_vector.shape[0]

for C_h in range(Table_array_09.shape[0]):
  for i in range(prob_M_i_cond_C_h_vector.shape[1]):
    if(max_start_value_array[C_h] <= prob_M_i_cond_C_h_vector[C_h][i]):
      max_start_value_array[C_h] = prob_M_i_cond_C_h_vector[C_h][i]
      delta_eq_M[C_h] = i

delta_eq_M_0 = np.asarray(delta_eq_M)
delta_eq_M_df = pd.DataFrame(delta_eq_M_0).T.rename(columns={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'}, index={0:'d'})
delta_eq_M_df

   C_0  C_1  C_2  C_3  C_4  C_5  C_6  ...  C_13  C_14  C_15  C_16  C_17  C_18  C_19
d    7    2    3   13   10   19    0  ...    14     0    12    18     0     9    11

[1 rows x 20 columns]

**Оптимальна стохастична вирішуюча функція = ?**

In [244]:
s_func_value_matrix = [[1/Table_df_09.shape[1]]*prob_C_h_vector.shape[0] for i in range(Table_df_09.shape[1])]
s_func_value_matrix = np.asarray(s_func_value_matrix).T
s_func_value_matrix_df = pd.DataFrame(s_func_value_matrix, columns=['M_0','M_1','M_2', 'M_3','M_4','M_5','M_6','M_7','M_8', 'M_9','M_10','M_11','M_12','M_13','M_14','M_15','M_16','M_17','M_18', 'M_19'])
s_func_value_matrix_df = s_func_value_matrix_df.rename(index={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'})
s_func_value_matrix_df

       M_0   M_1   M_2   M_3   M_4   M_5  ...  M_14  M_15  M_16  M_17  M_18  M_19
C_0   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_1   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_2   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_3   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_4   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_5   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_6   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_7   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_8   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_9   0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_10  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_11  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_12  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_13  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_14  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_15  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_16  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_17  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_18  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05
C_19  0.05  0.05  0.05  0.05  0.05  0.05  ...  0.05  0.05  0.05  0.05  0.05  0.05

[20 rows x 20 columns]

In [245]:
s_func_value_answer = [[-11111]*prob_C_h_vector.shape[0] for i in range(Table_df_09.shape[1])]
max_start_value_array_for_s_func = [0]*prob_M_i_cond_C_h_vector.shape[0]

for C in range(prob_M_i_cond_C_h_vector.shape[0]):
  for M in range(prob_M_i_cond_C_h_vector.shape[1]):
    if (delta_eq_M[C] == M):
      max_start_value_array_for_s_func[C] = prob_M_i_cond_C_h_vector[C][M]

max_start_value_array_for_s_func_df = pd.DataFrame(max_start_value_array_for_s_func, columns = ['max_prob'], index=['P(M|C_0)','P(M|C_1)','P(M|C_2)', 'P(M|C_3)','P(M|C_4)','P(M|C_5)','P(M|C_6)','P(M|C_7)','P(M|C_8)', 'P(M|C_9)','P(M|C_10)','P(M|C_11)','P(M|C_12)','P(M|C_13)','P(M|C_14)','P(M|C_15)','P(M|C_16)','P(M|C_17)','P(M|C_18)', 'P(M|C_19)]']).T
max_start_value_array_for_s_func_df

          P(M|C_0)  P(M|C_1)  P(M|C_2)  ...  P(M|C_17)  P(M|C_18)  P(M|C_19)]
max_prob      0.28      0.24  0.233333  ...       0.45   0.266667         0.2

[1 rows x 20 columns]

In [246]:
amount_of_M_i = [0]*prob_C_h_vector.shape[0]
for C_h in range(Table_array_09.shape[0]):
  for i in range(prob_M_i_cond_C_h_vector.shape[1]):
    if (s_func_value_matrix[C_h][i] > 0 and max_start_value_array_for_s_func[C_h] <= prob_M_i_cond_C_h_vector[C_h][i]):
      max_start_value_array_for_s_func[C_h] = prob_M_i_cond_C_h_vector[C_h][i]
      s_func_value_answer[i][C_h] = i
      amount_of_M_i[C_h] += 1

s_func_value_answer = np.asarray(s_func_value_answer).T
s_func_value_answer_df = pd.DataFrame(s_func_value_answer, columns=['M_0','M_1','M_2', 'M_3','M_4','M_5','M_6','M_7','M_8', 'M_9','M_10','M_11','M_12','M_13','M_14','M_15','M_16','M_17','M_18', 'M_19'])
s_func_value_answer_df = s_func_value_answer_df.rename(index={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'})
s_func_value_answer_df

        M_0    M_1    M_2    M_3    M_4  ...   M_15   M_16   M_17   M_18   M_19
C_0  -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_1  -11111 -11111      2 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_2  -11111 -11111 -11111      3 -11111  ... -11111 -11111 -11111 -11111 -11111
C_3  -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_4  -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_5       0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111     19
C_6       0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_7       0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_8  -11111 -11111 -11111 -11111      4  ... -11111 -11111 -11111 -11111 -11111
C_9  -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_10      0 -11111 -11111 -11111 -11111  ...     15 -11111 -11111 -11111 -11111
C_11      0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_12 -11111      1 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_13 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_14      0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_15 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_16 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111     18 -11111
C_17      0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_18 -11111 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111
C_19      0 -11111 -11111 -11111 -11111  ... -11111 -11111 -11111 -11111 -11111

[20 rows x 20 columns]

In [247]:
amount_of_M_i

[1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2]

**Корегуємо значення оптимальної стохастичної функції**

In [248]:
for C_i in range(s_func_value_matrix.shape[0]):
  for M_j in range(s_func_value_matrix.shape[1]):
    if(s_func_value_answer[C_i][M_j] == -11111):
      s_func_value_matrix[C_i][M_j] = 0
    else:
      s_func_value_matrix[C_i][M_j] = 1/amount_of_M_i[C_i]

s_func_value_matrix_df = pd.DataFrame(s_func_value_matrix, columns=['M_0','M_1','M_2', 'M_3','M_4','M_5','M_6','M_7','M_8', 'M_9','M_10','M_11','M_12','M_13','M_14','M_15','M_16','M_17','M_18', 'M_19'])
s_func_value_matrix_df = s_func_value_matrix_df.rename(index={0 : 'C_0', 1: 'C_1', 2: 'C_2', 3: 'C_3', 4: 'C_4', 5:'C_5', 6:'C_6', 7: 'C_7', 8: 'C_8', 9 :'C_9', 10 : 'C_10', 11: 'C_11',12: 'C_12', 13: 'C_13', 14: 'C_14', 15: 'C_15',16: 'C_16',17 : 'C_17',18: 'C_18', 19: 'C_19'})
s_func_value_matrix_df

      M_0  M_1  M_2  M_3  M_4  M_5  ...  M_14  M_15  M_16  M_17  M_18  M_19
C_0   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_1   0.0  0.0  1.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_2   0.0  0.0  0.0  1.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_3   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_4   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_5   0.5  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.5
C_6   1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_7   0.5  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_8   0.0  0.0  0.0  0.0  1.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_9   0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_10  0.5  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.5   0.0   0.0   0.0   0.0
C_11  1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_12  0.0  1.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_13  0.0  0.0  0.0  0.0  0.0  0.0  ...   1.0   0.0   0.0   0.0   0.0   0.0
C_14  1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_15  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_16  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   1.0   0.0
C_17  1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_18  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
C_19  0.5  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[20 rows x 20 columns]

**Task 4**

**Середні втрати детерміністичної функції**

In [249]:
from decimal import Decimal
av_loss_of_det_func = Decimal('0')
for M_i in range(prob_M_i_C_h_vector.shape[1]):
  for C_j in range(prob_M_i_C_h_vector.shape[0]):
    if (delta_eq_M_0[C_j] != s_func_value_answer[C_j][M_i]):
      av_loss_of_det_func += Decimal(prob_M_i_C_h_vector[C_j][M_i])

print("Average loss of deterministic function = ", av_loss_of_det_func)

Average loss of deterministic function =  0.6704000000000000202005079302

**Середні втрати стохастичної функції**

In [250]:
av_loss_of_stoch_func = Decimal('0')
HELP_loss_of_stoch_func = [[Decimal('0')]*prob_M_i_C_h_vector.shape[1] for i in range(prob_M_i_C_h_vector.shape[0])]
for M_i in range(prob_M_i_C_h_vector.shape[1]):
  for M_j_not_M_i in range(prob_M_i_C_h_vector.shape[1]):
    for C_h in range(prob_M_i_C_h_vector.shape[0]):
      if (M_j_not_M_i != M_i):
        HELP_loss_of_stoch_func[C_h][M_i] += Decimal(s_func_value_matrix[C_h][M_j_not_M_i])

for C_j in range(prob_M_i_C_h_vector.shape[0]):
  for M_i in range(prob_M_i_C_h_vector.shape[1]):
    av_loss_of_stoch_func += Decimal(Decimal(prob_M_i_C_h_vector[C_j][M_i]) * Decimal(HELP_loss_of_stoch_func[C_j][M_i]))

print("Average loss of stochastic function = ", av_loss_of_stoch_func)

Average loss of stochastic function =  0.6704000000000000202005079303